.budget-input {
  text-align: center;
  width: 80px;
}

.budget-image {
  height: 100px;
  width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
