<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>A new user just signed up to Spending Alert!</h2>
    <p>Email <%= @user.email %></p>
    <p>Phone Number <%= @user.phone_number %></p>
  </body>
</html>
