<h3>FAQs</h3>

<div>
  <h4>What are the features of your App?</h4>
  <p>Connect checking and credit card accounts. Set a monthly spending limit. Receive text spending alerts to make sure you don’t overspend each month.</p>
</div>
<hr>

<div>
  <h4>How do you compare to competitors?</h4>
  <p>They require you to create budgets for each category. Some automatically assign categories to your transactions but they are often wrong and need to be changed anyway. To many alerts for all those budget categories and money saving offers which desensitizes you to the important alerts. The connections to your banks from the App often break which defeats the whole purpose. Zero customer service.</p>
</div>
<hr>

<div>
  <h4>How do you get the information from my bank account?</h4>
  <p>We connect to banks directly through our partner that has a 20 year track record in bank data integration.</p>
</div>
<hr>

<div>
  <h4>What level of security does your app deploy?</h4>
  <p>Bank level security is all run by our API partner.</p>
</div>
<hr>

<div>
  <h4>Can the SpendingAlert App makes changes to my account?</h4>
  <p>No we only have read only access to your bank or credit card accounts. Meaning our app can’t transfer money in or out of your account or pay your bill. We only add transactions to calculate your monthly spending.</p>
</div>
