<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Editorial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>SpendingAlert</strong></a>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, Welcome to SpendingAlert</h1>
                      <p>Do you want to save more money each month but you don’t like budgeting?</p>
										</header>
  <p>We are in the process of creating the simplest and most effective money saving app! A few years ago my spending was out of control and I hated complicated budgets that I never stuck with each month.</p>
                    <p>Sign up for a 1 month free trial!</p>
										<ul class="actions">
											<li><a href="#" class="button big">Sign Up</a></li>
										</ul>
                    <p>How much have you spent so far this month?</p>
                    <p>75% of people don’t even know! Including me that’s why I want the app!</p>
                    <p>Sign up now for a 1 month free trial!</p>
                    <p>SpendingAlert Product Launches on July 1, 2018.</p>

                    <p>*Accepting up to 500 people for the initial launch.</p>
									</div>
									<span class="image object">
                    <%= image_tag("budgeting-stress.png") %>
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>What Can The App Do?</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-diamond"></span>
											<div class="content">
												<h3>Set limits</h3>
												<p>Set a monthly spending limit. No more complicated budgets!</p>
											</div>
										</article>
										<article>
											<span class="icon fa-paper-plane"></span>
											<div class="content">
												<h3>Recieve Notifications</h3>
  <p>Receive spending alerts by text to make sure you don’t overspend.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-rocket"></span>
											<div class="content">
												<h3>Be on schedule</h3>
                        <p>Notification schedule: Recommended 15th, 20th 25th and last day of the month or Daily, Weekly and Custom Dates.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-signal"></span>
											<div class="content">
												<h3>Stay Connected</h3>
  <p>Connectivity through a secure link to your bank and credit card accounts by read only access. Which means the bank only allows our app the ability to read your transactions. We can not make any changes to your account.</p>
											</div>
										</article>
									</div>
                    <p>Do you want to get control of your spending but you are not sure how? SpendingAlert will help you save more money without complicated budgets!</p>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
                    <h2>SpendingAlert Product Overview</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><%= image_tag("1-add-account.png") %></a>
											<h3>Sign up & Connect all your Accounts</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><%= image_tag("2-set-spending-limit.png") %></a>
											<h3>Set a Monthly Spending Limit</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><%= image_tag("3-receive-text-spending.png") %></a>
											<h3>Receive Text Spending Alerts!</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
                  <p>I want my free 1 month trial! 
                  Cost: $2.99 per month after the free trial period.</p>

									<hr class="major" />

                  <h2>Simple solution with awesome results!</h2>
                  <ul>
                    <li>Increase awareness of money spent as the month unfolds to effect change before the month ends.</li>
                    <li>This simple but effective approach will help you to make sure there is money left over to save!</li>
                    <li>Save for a house, vacation, retirement and anything else you want!</li>
                    <li>Save less and save more!</li>
                  </ul>

                  <h3>Why sign up for the SpendingAlert App service?</h3>
                  1. No more annoying budgets to manage! Just set a simple monthly spending limit and receive alerts though out the month so you can start becoming more aware of your out of control spending.
                  2. No more need to categorize all those monthly transactions!
                  3. No more broken connections between your banking data and your money app.
                  4. Free money Apps sell your information and that is wrong!
                  5. We offer a simple but effective solution compared to other complicated free financial apps that don’t help you spend less. They just have a bunch of cool graphs.
                  6. Our solution may appear simple but compiling all the accounts you spend from each is no easy task. The SpendingAlert App connects to over 15,000 bank and credit card companies.
                  7. We are transparent of how we make our money by offering a straight forward monthly subscription model. Plus many free money apps are losing money and provide aweful customer service to their customers.


                  <h3>SpendingAlert App Tips</h3>
                  Make sure all your large and reoccurring expenses are paid before the 15th of the month at the latest.  Because if recurring bills are not paid then the spending alert is not accurate and that defeats the whole point of the SpendingAlert App.
                  Try to limit the number of credit cards you use each month. This will help with managing your money and the connections to the SpendingAlert App easier.
                  Make sure you set a realistic spending limit to start. For example, if you make $5,000 per month after taxes you might set a spending limit at $4,500. Inorder to have a $500 per month savings goal. In the future you can reduce your spending limit even more.
                   

                  <h3>FAQs</h3>
                  <b>What are the features of your App?
                  Connect checking and credit card accounts.
                  Set a monthly spending limit.
                  Receive text spending alerts to make sure you don’t overspend each month.

                  <b>How do you compare to competitors?
                  They require you to create budgets for each category.
                  Some automatically assign categories to your transactions but they are often wrong and need to be changed anyway.
                  To many alerts for all those budget categories and money saving offers which desensitizes you to the important alerts.
                  The connections to your banks from the App often break which defeats the whole purpose.
                  Zero customer service.

                  <b>How do you get the information from my bank account?</b>
                  We connect to banks directly through our partner that has a 20 year track record in bank data integration.

                  <b>What level of security does your app deploy?</b>
                  Bank level security is all run by our API partner.

                  <b>Can the SpendingAlert App makes changes to my account?</b>
                  No we only have read only access to your bank or credit card accounts. Meaning our app can’t transfer money in or out of your account or pay your bill. We only add transactions to calculate your monthly spending.

								</section>

						</div>
					</div>
			</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

