<!DOCTYPE HTML>
<!-- Editorial by HTML5 UP html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license) -->
<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Hi, Welcome to SpendingAlert</h1>
      <p>Do you want to save more money each month but you don’t like budgeting?</p>
    </header>
    <p>We are in the process of creating the simplest and most effective money saving app! A few years ago my spending was out of control and I hated complicated budgets that I never stuck with each month.</p>
    <p>Sign up for a 1 month free trial!</p>
    <ul class="actions">
      <li>
        <a href="/users/sign_up" class="button big">Sign Up for a 60 Day Free Trial</a>
      </li>
    </ul>
    <p>How much have you spent so far this month?</p>
    <p>75% of people don’t even know! Including me that’s why I want the app!</p>
    <p>Sign up now for a 1 month free trial!</p>
    <p>SpendingAlert Product Launches on July 1, 2018.</p>

    <p>*Accepting up to 500 people for the initial launch.</p>
  </div>
  <span class="image">
    <%= image_tag("budgeting-stress.png") %>
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>What Can The App Do?</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon fa-diamond"></span>
      <div class="content">
        <h3>Set limits</h3>
        <p>Set a monthly spending limit. No more complicated budgets!</p>
      </div>
    </article>
    <article>
      <span class="icon fa-paper-plane"></span>
      <div class="content">
        <h3>Recieve Notifications</h3>
        <p>Receive spending alerts by text to make sure you don’t overspend.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-rocket"></span>
      <div class="content">
        <h3>Be on schedule</h3>
        <p>Notification schedule: Recommended 15th, 20th 25th and last day of the month or Daily, Weekly and Custom Dates.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-signal"></span>
      <div class="content">
        <h3>Stay Connected</h3>
        <p>Connectivity through a secure link to your bank and credit card accounts by read only access. Which means the bank only allows our app the ability to read your transactions. We can not make any changes to your account.</p>
      </div>
    </article>
  </div>
  <p>Do you want to get control of your spending but you are not sure how? SpendingAlert will help you save more money without complicated budgets!</p>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>SpendingAlert Product Overview</h2>
  </header>
  <div class="posts">
    <article>
      <a href="#" class="image"><%= image_tag("1-add-account.png") %></a>
      <h3>Sign up & Connect all your Accounts</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
    </article>
    <article>
      <a href="#" class="image"><%= image_tag("2-set-spending-limit.png") %></a>
      <h3>Set a Monthly Spending Limit</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions center">
        <li>
          <a href="/users/sign_up" class="button big">Sign Up for a 60 Day Free Trial</a>
        </li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><%= image_tag("3-receive-text-spending.png") %></a>
      <h3>Receive Text Spending Alerts!</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
    </article>
  </div>
  <p>I want my free 1 month trial! Cost: $2.99 per month after the free trial period.</p>

  <hr class="major"/>

  <h2>Simple solution with awesome results!</h2>
  <ul>
    <li>Increase awareness of money spent as the month unfolds to effect change before the month ends.</li>
    <li>This simple but effective approach will help you to make sure there is money left over to save!</li>
    <li>Save for a house, vacation, retirement and anything else you want!</li>
    <li>Save less and save more!</li>
  </ul>

  <h3>Why sign up for the SpendingAlert App service?</h3>
  <ol>
    <li>No more annoying budgets to manage! Just set a simple monthly spending limit and receive alerts though out the month so you can start becoming more aware of your out of control spending.</li>
    <li>No more need to categorize all those monthly transactions!</li>
    <li>No more broken connections between your banking data and your money app.</li>
    <li>Free money Apps sell your information and that is wrong!</li>
    <li>We offer a simple but effective solution compared to other complicated free financial apps that don’t help you spend less. They just have a bunch of cool graphs.</li>
    <li>Our solution may appear simple but compiling all the accounts you spend from each is no easy task. The SpendingAlert App connects to over 15,000 bank and credit card companies.</li>
    <li>We are transparent of how we make our money by offering a straight forward monthly subscription model. Plus many free money apps are losing money and provide aweful customer service to their customers.</li>
  </ol>

  <h3>SpendingAlert App Tips</h3>
  <p>Make sure all your large and reoccurring expenses are paid before the 15th of the month at the latest. Because if recurring bills are not paid then the spending alert is not accurate and that defeats the whole point of the SpendingAlert App. Try to limit the number of credit cards you use each month. This will help with managing your money and the connections to the SpendingAlert App easier. Make sure you set a realistic spending limit to start. For example, if you make $5,000 per month after taxes you might set a spending limit at $4,500. Inorder to have a $500 per month savings goal. In the future you can reduce your spending limit even more.</p>

  <h3>Our Technologies Are Trusted By</h3>
  <img class="svg-logo" src="/assets/goldbean.svg" alt="GoldBean Logo">
  <img class="svg-logo" src="/assets/selfscore.svg" alt="SelfScore Logo">
  <img class="svg-logo" src="/assets/spent.svg" alt="Spent Logo">
</section>

<!-- Scripts -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
