<!DOCTYPE HTML>
<!-- Editorial by HTML5 UP html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license (html5up.net/license) -->
<!-- Banner --> 
<section class="banner">
  <div class="content">
    <header>
      <div class="hero-image">
        <div class="hero-text">
          <h1>SPENDING TO MUCH?</h1>
          <p>Text alerts makes it simple to save!</p>
          
          <ul class="actions">
            <li>
              <a href="/users/sign_up" class="button big" style="color: white !important">60 Day Free Trial</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
      <div class="text-center">
      <p>Already have an account? <a href="/users/sign_in">Log in</a><br><br>
        <a href="/users/sign_up">Sign up</a> | <a href="/users/sign_up">60 Day Free trial! ($2.99 per month)</a>
      </p>
      <div class="features">
        <article>
          <span class="image"><img src="/assets/patty.jpg" alt=""/></span>
          <div class="content">
            <p>"My issue was keeping track of all my spending, not just from my checking account, but also from multiple credit cards"<span>- Patty Brunelle</span></p>
          </div>
        </article>
        <article>
          <span class="image"><img src="/assets/jake.jpg" alt=""/></span>
          <div class="content">
            <p>"Managing my budget was time consuming. SpendingAlert's automatic notifcations save me time and allow me to better manage my budget"<span>- Jake Peltzman</span></p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>3 Easy Steps</h2>
  </header>
  <div class="posts">
    <article>
      <h3>Step 1 - Set Spending Limit</h3>
      <a class="image"><%= image_tag("1-signup.png") %></a> 
    </article> 
    <article>
      <h3>Step 1 - Set Spending Limit</h3>
      <a class="image"><%= image_tag("2-setspendinglimit.png") %></a> 
    </article>
    <article>
      <h3>Step 2 - Connect Checking & Credit Card Accounts</h3>
      <a class="image"><%= image_tag("3-connectaccounts.png") %></a> 
    </article>
    <article>
      <h3>Step 3 - Receive Text Alerts!</h3>
    <a class="image"><%= image_tag("4-receivealerts.png") %></a> 
    </article>
  </div>

  <hr class="major"/>

  <h3>SpendingAlert can help solve these problems</h3>
  <ol class="checkmark-list">
    <li>Are you spending too much?</li>
    <li>Trouble sticking with your budget?</li>
    <li>Do you want to get control of your spending but you are not sure how?</li>
    <li>Is it a challenge to track your spending from multiple credit cards?</li>
  </ol>

  <!-- Section -->
  <section>
    <header class="major">
      <h2>Why Choose Us?</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon fa-check"></span>
        <div class="content">
          <h3>Easy to Use</h3>
          <p>
            SpendingAlert runs on autopilot.<br>
            Receive text alerts to increase your awareness.<br>
            No need to create a traditional budget or categorize transactions.
          </p>
        </div>
      </article>
      <article>
        <span class="icon fa-bank"></span>
        <div class="content">
          <h3>All-In-One Place</h3>
          <p>
            Overview of your “total” spending.<br>
            Connect multiple checking and credit card accounts.<br>
            Over 16,000 financial institutions available in our system.
          </p>
        </div>
      </article>
      <article>
        <span class="icon fa-lock"></span>
        <div class="content">
          <h3>Safe & Secure</h3>
          <p>
            128 bit Encryption.<br>
            Secure link to your bank and credit card accounts.<br>
            Bank level encryption, your account data is protected.
          </p>
        </div>
      </article>
      <!-- <article>
        <span class="icon fa-credit-card"></span>
        <div class="content">
          <h3>Pricing</h3>
          <p>
            60 Day Free Trial<br>
            No credit card required during the free trial period<br>
            $2.99 monthly subscription
          </p>
        </div>
      </article> -->
    </div>
  </section>

  <h3>Don't be a Statistic!</h3>
  <ul class="no-margin">
    <li>57% of Americans have less than $1,000 in their savings accounts.</li>
    <li>39% of Americans have $0 money saved.</li>
    <li>1 in 3 Americans has $0 saved for retirement.</li>
  </ul>
  <p class="text-small">*According GOBBankingRates.com</p>

  <ul class="actions center">
    <li>
      <a href="/users/sign_up" class="button big">60 Day Free trial!</a>
    </li>
  </ul>

 <!-- <h3>Our Technologies Are Trusted By</h3>

  <div class="svg-logos">
    <img class="svg-logos__logo" src="/assets/selfscore.svg" alt="SelfScore Logo">
    <img class="svg-logos__logo" src="/assets/goldbean.svg" alt="GoldBean Logo">
  </div><br>
-->
  <ul>
    <li>All personal information is encrypted to ensure security best practices.</li>
    <li>SpendingAlert is built on technologies which are trusted by millions of users and hundreds of financial institutions every year.</li>
    <li><b>Your security is important to us.</b> Linking your personal bank accounts does not allow SpendingAlert to manage or transfer assets in your linked account.</li>
  </ul>
</section>

