<h3>Connect More Accounts</h3>
<div id='addAccount'>Mx Widget Here</div>

<h3>Remove Accounts</h3>
<ul>
  <% @user.members.each do |name| %>
    <div class="remove-account__item" >
      <%= button_to 'x', {controller: "subscriptions", action: "delete_mx_member", member_guid: name.guid}, method: :delete %>
      <li class="dashboard__member"><%= name.name %></ul>
    </div>
  <% end %>
</ul>

<script src="https://atrium.mx.com/connect.js"></script>
<script>
  var mxConnect = new MXConnect({
    id: 'addAccount',
    url: '<%= @widget.attributes["connect_widget_url"] %>',
    onLoad: function () {
      // Add accounts widget successfully loaded
      console.log('On Load');
    },
    onSuccess: function (memberGuid) {
      // Member created successfully
      console.log('On Success');
    }
  });

  mxConnect.load();
</script>

