<div class="box-container">
  <div class="box">
    <h2>Set Spending Limit</h2>

    <%= form_for(@user) do |f| %>
      <%= f.label :user_budget, "Monthly Spending Limit" %></br>
      $<%= f.number_field :user_budget, placeholder: 'Enter Amount', id: 'budget-field' %></br>

      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
