<div class="box-container">
  <div class="box">
    <h3>Current Accounts</h3>
    <ul>
      <% @user.members.each do |name| %>
        <li><%= name.name %></ul>
      <% end %>
    </ul>

    <h3>Current Budget</h3>
    <p><%= @user.user_budget %></p>

    <h3>Total Spending for the Month</h3>
    <p><%= @user.total_spending %></p>
  </div>
</div>

<%= @user.to_json %>
