<div class="box-container">
  <div class="box">
    <h3>Current Accounts</h3>
    <ul>
      <% @user.members.each do |name| %>
        <li class="dashboard__member"><%= name.name %></ul>
      <% end %>
    </ul>
    <h5><a href="/accounts">Connect More Accounts</a></h5>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <h3>Current Budget</h3>
    <p><%= number_to_currency(@user.user_budget, precision: 2) %></p>
    <h5><a href="/budget">Edit Budget</a></h5>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <h3>Total Spending for the Month</h3>
    <p><%= number_to_currency(@user.total_spending, precision: 2) %></p>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <h3>Alert Schedule</h3>
    <select id="notificationInterval">
      <option value="interval5days">Every 5 Days (5th, 10th, 15th, Last Day of Month)</option>
      <option value="intervalWeekly">Weekly (7th, 14th, 21st, Last Day of Month)</option>
      <option value="intervalPercent">% of Spending</option>
      <option value="intervalLimit">Only When I Hit My Budget</option>
    </select></br></br>

    <select id="notificationType">
      <option value="email">Email (free)</option>
      <option value="text">Text</option>
      <option value="emailText">Text and Email</option>
    </select>
  </div>
</div>

<div>
  <a class="button" onclick="sendMessage()">Send Alert</a>
</div>
