<div id='addAccount'></div>

<script src="https://atrium.mx.com/connect.js"></script>
<script>
  var mxConnect = new MXConnect({
    id: 'addAccount',
    url: "<%= @widget.attributes['connect_widget_url'] %>",
    onLoad: function () {
      // Add accounts widget successfully loaded
      console.log('On Load');
    },
    onSuccess: function (memberGuid) {
      // Member created successfully
      console.log('On Success');
    }
  });
</script>
