<h1>Best Online Savings Accounts with Highest Interest Rates</h1>
<p>9/22/2018</p>

<p>Many online banks offer higher interest rates on savings accounts then local banks. A good idea is to have a savings account that automatically deducts money each month and is different from your local bank so you don't have easy access to the money.</p>
<br>
<p>Check the banks ratings to make sure they are a quality bank and also that you understand the terms and conditions. Make sure there aren't any special restrictions such as min balances to receive the advertised rates. Rates change so check back here or at the website of the bank that you are comparing to make sure you are getting the best interest rates. Always confirm that the bank you end up choosing is FDIC Insured. <a href="https://research.fdic.gov/bankfind/">FDIC Lookup</a></p>
<p>Last Update: Sep 22, 2018</p>
<br>
<p><a href="http://www.alliantcreditunion.org/bank/high-yield-savings">Alliant Credit Union</a> (Interest Rate: 1.80%)</p>
<p><a href="https://www.ally.com/bank/online-savings-account/">Ally Bank</a> (Interest Rate: 1.85%)</p>
<p><a href="https://www.ablebanking.com/saving.aspx">Able Banking</a> (Interest Rate: 1.85%)</p>
<p><a href="https://www.americanexpress.com/personalsavings/high-yield-savings-account.html">American Express Bank</a> (Interest Rate: 1.80%)</p>
<p><a href="https://www.banking.barclaysus.com/online-savings.html">Barclays</a> (Interest Rate: 1.85%)</p>
<p><a href="https://www.capitalone.com/bank/savings-accounts/">Capital One</a> (Interest Rate: 1.85%)</p>
<p><a href="https://www.bankoncit.com/high-yield-savings/">CIT Bank</a> (Interest Rate: 1.55%)</p>
<p><a href="https://www.discover.com/online-banking/savings-account/">Discover Bank</a> (Interest Rate: 1.80%)</p>
<p><a href="https://www.dollarsavingsdirect.com/">Dollar Savings Direct</a> (Interest Rate: 1.80%)</p>
<p><a href="https://www.gsbank.com/savings-products/online-savings.html">GS Bank</a> (Interest Rate: 1.90%)</p>
<p><a href="https://www.purepoint.com/online-banking/savings-account/high-yield">PurePoint Financial</a> (Interest Rate: 1.90%)</p>
<p><a href="https://www.salemfivedirect.com/#eonesavings">SalemFivedirect</a> (Interest Rate: 2.05%)</p>
<p><a href="https://www.synchronybank.com/banking/high-yield-savings/">Synchrony Bank</a> (Interest Rate: 1.85%)</p>
<br><br> 
<p>Before selecting an online savings bank always check that they are <a href="https://research.fdic.gov/bankfind/">FDIC Insured</a> and review if they have any fees, etc.</p>
<br>
<p>Saving rates quoted on this website are based upon information obtained from the banks, without independent verification by Spending Alert, LLC. Spending Alert, LLC updates this information monthly, but makes no representation or warranty regarding interest rates, change in interest rates or fees by the banks referred to on this Website.</p>
<br>
<p>Spending Alert, LLC does not make any commission (money) from these banks and does this as a service for the consumer.</p>

