<h1>Best Online Savings Accounts with Highest Interest Rates</h1>

<p>Many online banks offer higher interest rates on savings accounts then local or large banks. A good idea is to have a savings account that automatically deducts money each month and is different from your local bank so you don't have easy access to the money.</p>
<br>
<p>Check the banks online ratings and understand the terms & conditions or any special restrictions such as min balances to receive the advertised rate. Rates change often so check back here or at the banks website to make sure you are getting the best interest rates.  Always confirm that the bank you end up choosing is FDIC Insured. <a href="https://research.fdic.gov/bankfind/">FDIC Lookup</a></p>
<p>Last Update: Sep 22, 2018</p>
<br>

<p><a href="https://allamerica.bank/personal/banking/checking/mega-money-market-checking">All America Bank</a> (2.25% APY)</p>
<p><a href="http://www.alliantcreditunion.org/bank/high-yield-savings">Alliant Credit Union</a> (Interest Rate: 2.00% APY)</p>
<p><a href="https://www.ally.com/bank/online-savings-account/">Ally Bank</a> (2.20% APY)</p>
<p><a href="https://www.ablebanking.com/saving.aspx">Able Banking</a> (1.85% APY)</p>
<p><a href="https://www.americanexpress.com/personalsavings/high-yield-savings-account.html">American Express Bank</a> (2.10% APY)</p>
<p><a href="http://www.bank5connect.com/home/high-interest-savings">Bank5 Connect</a> (2.05% APY)</p>
<p><a href="https://www.bank7.com/personal/online-accounts/#per-hromm">Bank7</a> (2.05% APY)</p>
<p><a href="https://www.banking.barclaysus.com/online-savings.html">Barclays</a> (2.20% APY)</p>
<p><a href="https://www.bankoncit.com/high-yield-savings/">CIT Bank</a> (1.55% APY)</p>
<p><a href="https://www.bankpurely.com/SavingPurely">BankPurely</a> (1.90% APY)</p>
<p><a href="https://www.capitalone.com/bank/savings-accounts/">Capital One</a> (2.00% APY)</p>
<p><a href="https://us.cibc.com/en/personal/savings/agility-savings.html">CIBC</a> (2.39% APY)</p>
<p><a href="https://www.citizensaccess.com/online-savings-account/overview.html">Citizens Access</a> (2.35% APY)</p>
<p><a href="https://www.coloradofederalbank.com/deposits">CFSB</a> (1.90% APY)</p>
<p><a href="https://www.customersbank.com/ascent/">Customers Bank</a> (2.25% APY)</p>
<p><a href="https://www.discover.com/online-banking/savings-account/">Discover Bank</a> (2.10% APY)</p>
<p><a href="https://www.dollarsavingsdirect.com/">Dollar Savings Direct</a> (1.80% APY)</p>
<p><a href="https://us.etrade.com/bank/premium-savings-account">E*TRADE Bank</a> (2.10% APY)</p>
<p><a href="https://www.fnbodirect.com/online-savings-account/">FNBO Direct</a> (2.15% APY)</p>
<p><a href="https://www.gsbank.com/savings-products/online-savings.html">GS Bank</a> (2.25% APY)</p>
<p><a href="https://www.heritagebankna.com/jumbo-deposit/">Heritage Bank</a> (1.76% APY)</p>
<p><a href="https://www.hsbcdirect.com/">HSBC Direct</a> (2.22% APY)</p>
<p><a href="https://www.igobanking.com/savings/high-interest-savings-account.aspx">iGoBanking</a> (2.25% APY)</p>
<p><a href="https://www.incrediblebank.com/products/savings">Incredible Bank</a> (2.20% APY)</p>
<p><a href="https://www.mymemorybank.com/home/products/onlinemoneymarket">MemoryBank</a> (2.40% APY)</p>
<p><a href="https://www.mysavingsdirect.com">MySavingsDirect</a> (2.40% APY)</p>
<p><a href="https://www.northernbankdirect.com/">Northern Bank Direct</a> (1.51% APY)</p>
<p><a href="https://www.northpointe.com/banking/personal-accounts/">Northpointe Bank</a> (2.30% APY)</p>
<p><a href="https://www.enorthfield.com/rates/deposit">Northfield Bank</a> (2.25% APY)</p> 
<p><a href="https://www.populardirect.com/products/savings/popular-direct-plus-savings">Popular Direct</a> (2.36% APY)</p> 
<p><a href="https://www.purepoint.com/online-banking/savings-account/high-yield">PurePoint Financial</a> (2.35% APY)</p>
<p><a href="https://www.salemfivedirect.com/#eonesavings">SalemFivedirect</a> (2.30% APY)</p>
<p><a href="https://www.salliemae.com/save-for-college/savings-products/money-market-account/">SallieMae</a> (2.20% APY)</p>
<p><a href="https://www.synchronybank.com/banking/high-yield-savings/">Synchrony Bank</a> (2.20% APY)</p>
<p><a href="https://www.tiaabank.com/banking/money-market">TIAA Bank</a> (2.15% APY)</p>
<p><a href="https://utahfirst.com/money-market-account/">Utah First Federal Credit Union</a> (2.00% APY)</p>
<p><a href="https://www.viobank.com/high-yield-savings">Vio Bank</a> (2.37% APY)</p>
<p><a href="https://www.virtualbank.com/accounts/e-money-market">VirtualBank</a> (2.36% APY)</p>

<br><br> 
<p>Before selecting an online savings bank always confirm that they are <a href="https://research.fdic.gov/bankfind/">FDIC Insured</a> and review if they have any fees, etc.</p>
<br>
<p>Saving rates quoted on this website are based upon information obtained from the banks, without independent verification by Spending Alert, LLC. Spending Alert, LLC updates this information monthly, but makes no representation or warranty regarding interest rates, change in interest rates or fees by the banks referred to on this Website.</p>
<br>
<p>Spending Alert, LLC does not make any commission or revenue from the listed banks and does this as a service for the consumer.</p>
